:root {
  --fc-button-bg-color: var(--blue-brand);
  --fc-button-border-color: var(--blue-brand);
  --fc-event-bg-color: var(--blue-brand);
  --fc-event-border-color: var(--blue-brand);
  --fc-today-bg-color: #eff5f9;
}
