.vs__dropdown-toggle {
  padding: 6px !important;
  background-image: url(@/assets/img/arrow-select.svg) !important;
  background-repeat: no-repeat !important;
  background-position: right 5px top 55% !important;
}
.vs__open-indicator {
  display: none;
}
